@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

$white : hsl(0, 0%, 100%);
$lighter-grey : hsl(0, 0%, 93%);
$light-grey : hsl(0, 0%, 87%);
$medium-grey : hsl(0, 0%, 51%);
$grey : hsl(0, 0%, 40%);
$dark : hsl(0, 0%, 6%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

body {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background-color: $lighter-grey;
    overflow: hidden;
    user-select: none;
}

section,
.cowboy {
    width: 100%;
    height: 100%;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
        font-size: 2rem;
        font-weight: 900;
        @media screen and (min-width:426px) {
            font-size: 3rem;
        }
        .line-through {
            font-size: inherit;
            font-weight: inherit;
            text-decoration: line-through;
            text-decoration-color: $lighter-grey;
        }
    }
    &__text {
        margin: 25px auto;
    }
    &__bouton {
        width: fit-content;
        margin: 25px auto 0 auto;
        padding: 25px 50px;
        color: $white;
        font-weight: 900;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 100px;
        background-color: $dark;
    }
}

.cowboy {
    &-home {
        &__container {
            margin-top: 25px;
            position: relative;
            #cowboySVG {
                width: 50%;
                margin: 0 auto;
                display: block;
                @media screen and (min-width:426px) {
                    width: 25%;
                }
                .shadow {
                    fill:#DDDDDD;
                }
                .body,
                .arms,
                .nose {
                    fill:#828282;
                }
                .head {
                    fill:#FFFFFF;
                }
                .hat,
                .revolver {
                    fill:#101010;
                }
                .scarf,
                .belt {
                    fill:#666666;
                }
                .arm-ready {
                    display: none;
                }
                .arms-ready {
                    .arm-steady {
                        display: none;
                    }
                    .arm-ready {
                        display: initial;
                    }
                }
            }
            .tooltip {
                padding: 10px 15px;
                position: absolute;
                top: 0;
                left: 50%;
                color: $white;
                text-align: center;
                border-radius: 5px;
                background-color: $grey;
                opacity: 0;
                transition: ease 0.25s;
                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 25%;
                    border: solid 10px;
                    border-color: $grey transparent transparent $grey;
                }
                @media screen and (min-width:769px) {
                    &--visible {
                        opacity: 1;
                        transition: ease 0.5s;
                    }
                }
            }
        }
    }
    &-rules {
        position: relative;
        img {
            width: 20%;
            display: none;
            position: absolute;
            bottom: -7.5%;
            left: calc(50% - 10%);
            z-index: -1;
            @media screen and (min-width:426px) {
                display: block;
            }
        }
    }
}